{% extends "base.html" %}

{% block title %}
Nsda Final Project
{% endblock %}

{% block content %}
{% load static %}
{% include 'header.html' %}

<div class="container mt-5">
    <h2 class="text-center">Job Listings</h2>
    <div class="row">
        <!-- Card 1 -->
         {% for ob in obj %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ob.Job_Image.url}}" height="200px" class="card-img-top" alt="Job Title 1">
                <div class="card-body">
                    <h5 class="card-title">{{ob.title}}</h5>
                    <p class="card-text"><strong>Skills:</strong> {{ob.skills}}</p>
                    <p class="card-text"><strong>Category:</strong> {{ob.category}}</p>
                    <p class="card-text"><strong>Openings:</strong>{{ob.openings}}</p>
                    <p class="card-text">{{ob.description|truncatewords:30}}</p>
                    <a href="{% url 'jobapply' ob.id %}" class="btn btn-primary">Apply Now</a>
                </div>
            </div>
        </div>
        {%  endfor %}

    </div>
</div>

{% endblock %}